<module>
	<rawname>backup</rawname>
	<repo>standard</repo>
	<name>Backup &amp; Restore</name>
	<version>2.9.0.3</version>
	<publisher>FreePBX</publisher>
	<license>GPLv2+</license>
	<type>tool</type>
	<category>System Administration</category>
	<description>Backup &amp; Restore for your FreePBX environment</description>
	<menuitems>
		<backup needsenginedb="yes">Backup &amp; Restore</backup>
	</menuitems>
	<depends>
		<module>core</module>
	</depends>
	<changelog>
		*2.9.0.3* #4999, #5021, #5117
		*2.9.0.2* #4980
		*2.9.0.1* #4740, #4772
		*2.9.0.0* #4463, #4610, #4642, #4675, #4566
		*2.8.0.6* #4371
		*2.8.0.5* #4079, #4290
		*2.8.0.4* #4167, set execute prop on ampbackup.php
		*2.8.0.0* minor fix
		*2.7.0.5* spelling fixes, localization updates
		*2.7.0.4* #4081
		*2.7.0.3* #4064
		*2.7.0.2* #4061, #4062, #4063
		*2.7.0.1beta1.2* #1386
		*2.7.0.1beta1.0* #1386
		*2.7.0beta1.0* #3982, #3996, #3999
		*2.6.0.4* #3975 - multipal backup improvements
		*2.6.0.3* #3839
		*2.6.0.2* #3577
		*2.6.0.1* added publisher/lic
		*2.6.0.0* #3224, #3640
		*2.5.1.6* localization updates
		*2.5.1.5* #3323 backup fails if zaptel.conf or dahdi directory not present
		*2.5.1.4* #3238, spelling
		*2.5.1.3* description added to xml, Swedish
		*2.5.1.2* #3077 (DAHDI Support), Swedish Translations
		*2.5.1.1* spelling
		*2.5.1* #2987, #2995, #3037 sqlite3 support, removal of retrieve_backup_cron.pl
		*2.5.0.2* #2743 don't delete the current astdb entries if the new astdb.dump is empty
		*2.5.0.1* #2884 include zaptel.conf in backup
		*2.5.0* #2889, #2845, #2353, added delete and add icons
		*2.4.1.1* #2694 display problem with any all selection
		*2.4.1* #2269 clear several of the astdb objects before restore, and other bug fixes
		*2.4.0* CHANGELOG TRUNCATED See SVN Repository
	</changelog>
	<location>release/2.9/backup-2.9.0.3.tgz</location>
	<md5sum>73c8292467ae3e8cf7d6e43cdbd98f43</md5sum>
</module>
