<module>
	<rawname>backup</rawname>
	<repo>standard</repo>
	<name>Backup &amp; Restore</name>
	<version>2.10.0.9</version>
	<publisher>Schmoozecom.com</publisher>
	<license>GPLv2+</license>
	<category>Admin</category>
	<description>Backup &amp; Restore for your FreePBX environment</description>
	<menuitems>
		<backup needsenginedb="yes">Backup &amp; Restore</backup>
		<backup_servers needsenginedb="yes" hidden="true">Backup &amp; Restore</backup_servers>
		<backup_templates needsenginedb="yes" hidden="true">Backup &amp; Restore</backup_templates>
		<backup_restore needsenginedb="yes" hidden="true">Backup &amp; Restore</backup_restore>
	</menuitems>
	<depends>
		<module>core</module>
	</depends>
	<changelog>
		2.10.0.9 improve eventstream log 
		2.10.0.8 bug fixes 
		2.10.0.7 bug fixes 
		*2.10.0.6* fixed legacy restore and per file restore bugs
		*2.10.0.5* fixes upload and legacy restore
	</changelog>
	<location>release/2.10/backup-2.10.0.9.tgz</location>
	<md5sum>a3c0838daa027409e334bb2c9a3e3f35</md5sum>
</module>