<module>
	<rawname>backup</rawname>
	<repo>standard</repo>
	<name>Backup &amp; Restore</name>
	<version>15.0.3beta4</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Admin</category>
	<description>Backup &amp; Restore for your FreePBX environment</description>
	<menuitems>
		<backup needsenginedb="yes">Backup &amp; Restore</backup>
		<backup_restore hidden="true" needsenginedb="yes">Backup &amp; Restore - Restore</backup_restore>
	</menuitems>
	<depends>
		<module>filestore</module>
		<version>15.0.1.33</version>

	</depends>
	<changelog>
		*15.0.3beta4* Set the debug flag to false which will clean up old data db data 
		*15.0.3beta4* FREEPBX-18709 Fix corrupt backups, fix restore log 
		*15.0.3beta5* FREEPBX-18155 Move echo to logger in legacy
		*15.0.3beta4* FREEPBX-18882 Update help text in fwconsole 
		*15.0.3beta4* FREEPBX-18885 Fix cron syntax, don't hardcode sbin. 
		*15.0.3beta1* Bump to beta
		*15.0.3alpha15* FREEPBX-18754 Updates for logger in framework 15.0.1.33
		*15.0.3alpha14* FREEPBX-18625 Rework the message handling 
		*15.0.3alpha14* FREEPBX-18166 
		*15.0.3alpha14* Fixing problems in Backup 15 
		*15.0.3alpha11* New Backup and Restore for 15.0 
		*15.0.3alpha10* FREEPBX-18160 More fixes to server migrations 
		*15.0.3alpha9* FREEPBX-18252 Fix variables in Backup, handle the use of a single module 
		*15.0.3alpha8* FREEPBX-18202 Fix restore file ajax handling 
		*15.0.3alpha7* FREEPBX-18160 Migration improvements 
		*15.0.3alpha6* FREEPBX-18215 Fix the mail handler validation 
		*15.0.3alpha5* FREEPBX-18210 Remove unimplemented tab 
		*15.0.3alpha4* FREEPBX-18160 Fix server migration 
		*15.0.3alpha3* Remove unneeded composer deps
		*15.0.3alpha2* Fix import of cron job for backup migration
		*15.0.3alpha1* Alpha 1 release of the Backup 15 module
		*15.0.2.1* Don't crash on a new install
		*15.0.2* Packaging of ver 15.0.2
		*15.0.1* Initial release of new backup module
	</changelog>
	<supported>
		<version>15.0</version>
	</supported>
</module>